.status-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-screen > a {
    margin: 2rem auto;
    text-decoration: none;
}

.status-screen p {
    font-size: 1.5rem;
}

.heating-settings {
    width: clamp(10ch, 65ch, 80vw);
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

.heating-settings > div:first-of-type {
    height: 100%;
}

.heating-settings h1.title {
    font-size: 1.5rem;
    border-bottom: 2px solid;
    border-radius: 3px;
    padding: 0.25rem;
    width: max-content;
    margin: auto;
    top: 1.25rem;
    right: 0;
    left: 0;
}

.heating-settings input {
    text-align: center;
    justify-content: center;
    min-width: 9ch;
}

.TempDisplay {
    font-size: 4.5rem;
    margin: 1.5rem auto 1rem;
    user-select: none;
    width: max-content;
}

.TempDisplay__On {
    color: var(--primary-dark);
}

.heating-settings svg,
.heating-settings img,
.heating-settings object {
    max-width: 20vw;
    object-fit: contain;
}

.arrow {
    border: solid var(--muted);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 0.75rem;
    height: 0.75rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.disabled-arrow {
    --muted: #2c2c2c;
}

.on-arrow {
    --muted: var(--text-main);
}

.section {
    transition: transform 500ms ease, opacity 400ms ease;
    transform-origin: right top;
}

.close-button {
    font-size: 2rem;
    color: var(--muted);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.time-block {
    border: 1px solid var(--muted);
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem auto;
}

.times-container {
    margin: 3rem auto 1rem;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.reduced-timeblock {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    border-radius: 4px;
    border-bottom: 1px solid var(--muted);
    padding-bottom: 1rem;
}

.reduced-timeblock:first-of-type {
    border-top: 1px solid var(--muted);
    padding-top: 1rem;
}

.gauges-container {
    text-align: center;
    width: 50%;
}

.gauges-container p {
    margin-top: 0;
}

@media (min-width: 768px) {
    .gauges-container {
        display: flex;
    }
}


.time-slot__labels {
    display: flex;
    width: 100%;
    text-align: center;
}

.time-slot__labels > div {
    width: calc(100% / 24);
}

.time-slot__wrapper {
    margin: 3rem auto;
    min-width: 90%;
    max-width: 95vw;
    min-height: 24rem;
}

.time-slot__bars {
    display: flex;
}

.time-slot__bars > div {
    border: 1px solid black;
    background: white;
    height: 3rem;
    width: calc(100% / 24);
}

.MuiSlider-markLabel {
    color: white !important;
}

.time-block__grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 1rem;
    place-items: center;
}

.time-block-right__grid {
    display: grid;
    grid-template-rows: 2fr 3fr;
    text-align: right;
    max-width: 50vw;
    justify-content: center;
}

