.time-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    width: 100%;
    align-items: center;
    margin: 1rem auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
}

.container {
    width: clamp(30ch, 50ch, 80vw);
    margin: auto;
    text-align: center;
}